<div class="book-card">
    <p class="book-title"><%= book.title %></p>
    <div class="book-img-wrapper">
        <img src="<%= book.img_url %>" alt="<%= book.title %>">
    </div>
    <div class="book-info">
        <p class="book-author"><%= book.author %></p>
        <p class="book-date"><%= book.pub_date %></p>
    </div>
    <div class="edit-btn-wrapper">
        <a href="/edit/book/<%= book.id %>">Edit Details</a>
    </div>
</div>