<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bookshelf</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/svg" href="/favicon.svg">
    <script src="/bookFormScript.js" defer></script>
</head>
<body>
<div id="root">
    <%- include("partials/header") %>
    <main class="form-main">
        <p class="book-form-title"><%= title %></p>
        <%- include("partials/errors") %>
        <form class="book-form" action="/books/<%= (edit) ? 'edit' : 'new' %>" method="POST" enctype="multipart/form-data">
            <div class="book-details">
                <div>
                    <label for="title">Title*</label>
                    <input type="text" id="title" name="title" value="<%= locals.bookTitle %>" required>
                </div>
                <div>
                    <label for="pub_date">Date Published*</label>
                    <input type="date" name="pub_date" id="pub_date" value="<%= locals.bookDate %>" required>
                </div>
            </div>
            <div>
                <label for="book-img" class="file-label" tabindex="0">Book Image</label>
                <input type="file" accept=".jpg, .jpeg" id="book-img" name="book-img">
            </div>
            <div class="category-info">
                <div>
                    <label for="author">Author*</label>
                    <select name="author" id="author" required>
                        <% for (let author of authors) { %>
                            <% if (author.id === authorId) { %>
                                <option value="<%= author.id %>" selected><%= `${author.first_name} ${author.last_name}` %></option>
                            <% } else { %>
                                <option value="<%= author.id %>"><%= `${author.first_name} ${author.last_name}` %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="genre">Genre*</label>
                    <select name="genre" id="genre">
                        <% for (let genre of genres) { %>
                            <% if (genre.id === genreId) { %>
                                <option value="<%= genre.id %>" selected><%= genre.name %></option>
                            <% } else { %>
                                <option value="<%= genre.id %>"><%= genre.name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>
            <% if (edit) { %>
                <div>
                    <label for="password">Password*</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <input type="text" value="<%= bookId %>" name="id" hidden>
                <div class="edit-form-btns">
                    <button class="form-add-btn">Update Book</button>
                    <input type="checkbox" id="del-checkbox" value="true" name="delete" hidden>
                    <button class="del-btn">Delete</button>
                </div>
            <% } else { %>
                <div class="add-form-btns">
                    <button class="form-add-btn">Add Book</button>
                </div>
            <% } %>
        </form>
    </main>
    <%- include("partials/footer") %>
</div>
</body>
</html>